@charset "utf-8";
/* Principal CSS + Background------------------------------------------------------ */
body{
	background-color: black;
	overflow-x: hidden;
}

/* Firefox scrollbar */
* {
	scrollbar-width: thin;
	scrollbar-color: #68dddd #49215386;
}

/* Chrome, Edge, and Safari scrollbar */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #693177;
}

*::-webkit-scrollbar-thumb {
	background-color: #68dddd;
	border-radius: 20px;
	border: 2px inset #232323;
}

p, h1, a{
	font-family: "Orbitron", sans-serif; /*https://fonts.google.com/selection/embed*/
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1.5;
	font-size: 20px;
	color: rgba(249,249,249,1);
	font-weight: 600;
}

.BGCover{
	width: 100%;
	height: 110%;
	position: absolute;
}

#MainBackground{
	/* BOX MODEL */
	margin-top: -8px;
	margin-left: -8px;
	width: 101%;
	height: 100%;
	
	/* ENHANCEMENT */
	background-color:black;
	background-position:top;
	background-size: 80% 90%;
	background-repeat: no-repeat;  
}

#SiteTitle{
	width: 30vw;
	max-width: 376px;
	min-width: 240px;
	height: 20vh;
	max-height: 115px;
	background-image: url(../img/Title01.png);
	background-size: 100% 100%;
}

#SiteTitleDiv{
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */}


/* Página 1 - Introdução------------------------------------------------------ */
#Page1_Intro{
	width: 70vw;
	height: 60vh;
	position: absolute;
	top: 15%;
	left: 15%;
	min-height: 300px;	
	transition: opacity 1s;
	display: block;
}

#JerryDialogBox{
	position: absolute;
	width: 100%;
	height: 100%;
}

#JerryDialogAvatar{
	background-image: url(../img/Avatar.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	max-width: 26vw;
	max-height: 33vh;
	top: 8%;
	left: 31.2%;
	width: 100%;
	height: 100%;
}

#JerryDialogText{
	position: absolute;
	max-width: 48vw;
	max-height: 13vh;
	top: 69%;
	left: 16%;
	width: 68%;
	height: 20%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 17px;
}

/* Página 2 - Apostilas------------------------------------------------------ */
#Page2_Apostilas{
	width: 90vw;
	height: 60vh;
	position: absolute;
	top: 15%;
	left: 5%;
	min-height: 300px;	
	transition: opacity 1s;
	display: none;
}

#tns1 > .tns-item{
	padding: 0px 0.5%;
}

.ApostilasItem{
	height: 70vh;
}

.ApostilasItem img{
	max-width: 25vw;

}

.ApostilasItem h1{
	font-size: calc(13px + 0.5vw);
	margin-top: 20px;
	text-align: center;
	transition: font-size 2s;
}

.ApostilasItem a{
	margin-left: 1vw;
	color: aqua;
	font-size: 1.2vw;
	display: block;
	line-height: 2.2vw;
	transition: font-size 2s;
	transition: line-height 1s;
}

.ApostilasTextBox{
	background-color: #0006;
	margin-left: 5%;
	margin-top: -27px;
	width: 21.5vw;
	height: 35vh;
	border: 4px fuchsia double;
	border-radius: 20px 5px 15px 15px;
	overflow: hidden;
	transition: height 2s;
}

/* Botões----------------------------------------------------- */


#NavBar{
	background-image: url(../img/Nav_HUD_Base.png);
	width: 100vw;
	min-height: 110px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	padding: 50px 10px 20px 10px;
	height: fit-content;
	background-size: 110% 180%;
  	margin-left: -15px;
}
#NavBar_Bt01, #NavBar_Bt02, #NavBar_Bt03, #NavBar_Bt04, #NavBar_Bt05, #NavBar_Bt06{
	display: block;
	min-width: 70px;
	margin: 10px 15px;
	min-height: 70px;
	width: 5%;
	height: 5%;
	background-size: 100% 100%;
	border: 0;
	background-color: #00000000;
}

#NavBar_Bt01{
	background-image: url('../img/Nav_HUD01_Off.png');
}
#NavBar_Bt01:hover{
	background-image: url('../img/Nav_HUD01_On.png');
}
#NavBar_Bt01:active{
	background-image: url('../img/Nav_HUD01_Press.png');
}

#NavBar_Bt02{
	background-image: url('../img/Nav_HUD02_Off.png');
}
#NavBar_Bt02:hover{
	background-image: url('../img/Nav_HUD02_On.png');
}
#NavBar_Bt02:active{
	background-image: url('../img/Nav_HUD02_Press.png');
}

#NavBar_Bt03{
	background-image: url('../img/Nav_HUD03_Off.png');
}
#NavBar_Bt03:hover{
	background-image: url('../img/Nav_HUD03_On.png');
}
#NavBar_Bt03:active{
	background-image: url('../img/Nav_HUD03_Press.png');
}

#NavBar_Bt04{
	background-image: url('../img/Nav_HUD04_Off.png');
}
#NavBar_Bt04:hover{
	background-image: url('../img/Nav_HUD04_On.png');
}
#NavBar_Bt04:active{
	background-image: url('../img/Nav_HUD04_Press.png');
}

#NavBar_Bt05{
	background-image: url('../img/Nav_HUD05_Off.png');
}
#NavBar_Bt05:hover{
	background-image: url('../img/Nav_HUD05_On.png');
}
#NavBar_Bt05:active{
	background-image: url('../img/Nav_HUD05_Press.png');
}

#NavBar_Bt06{
	background-image: url('../img/Nav_HUD06_Off.png');
}
#NavBar_Bt06:hover{
	background-image: url('../img/Nav_HUD06_On.png');
}
#NavBar_Bt06:active{
	background-image: url('../img/Nav_HUD06_Press.png');
}

/* RESPONSIVIDADE LEGÍVEL----------------------------------------------------- */
@media only screen and (max-width: 900px) {
	.ApostilasItem h1, .ApostilasItem a{
		font-size: 13px;
		line-height: 15px;
		margin-left: 0;
		margin-top: 10px;
	}
	.ApostilasTextBox{
		height: 75%;
		margin-top: -10px;
	}
	#JerryDialogText{
		font-size: 13px;
	}
}  